* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  max-width: 600px;
  height: auto;
  margin: 40px auto;
  padding: 20px;
  border: solid 1px #c6c6c6;
  border-radius: 10px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}

input {
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;
}

button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}

button:focus {
  outline: none;
}

.btn-remover {
  background-color: #c6c6c6; /* Verde */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
